.claude/
.vscode/
build/
ArduinoOutput/
secrets.h
devices/HAS1_itembox/scripts/secrets.py
devices/HAS1_generator/scripts/secrets.py
devices/HAS1_revival_machine/scripts/secrets.py
devices/HAS1_altar/scripts/secrets.py
devices/HAS1_duct/scripts/secrets.py
devices/HAS1_tagmachine_main/scripts/secrets.py
__pycache__/
